
body {
  font-family: 'Roboto', sans-serif;
}

.link-no-decoration {
  text-decoration: none;
  color: black;
}

.hidden {
  display: none;
}

/* ant overrides */
.ant-divider {
  border-color: rgba(5, 5, 5, 1);
}

.ant-modal-content {
  border-radius: 0px !important;
  border: 1px solid black;
}

.ant-select {
  width: unset;
}

.ant-dropdown-menu {
  border-radius: 0px !important;
}

.ant-input.shared {
  background: transparent;
  color: #000;
}

/* quill overrides */ 
.quill {
  width: 100%;
  max-width: 700px;
}

.quill.disabled > .ql-toolbar {
  display: none;
}

.quill.disabled > .ql-container {
  border: none;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid black;
  z-index: 2;
  background: #fff;
  position: fixed;
  right: 0px;
  left: 0px;
}

#nav-menu {
  color: #555;
}

#nav-menu.active {
  color: black;
}

.navbar-icon {
  font-size: 18px;
}

#notes-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background: #FFFF00;
  border-right: 1px solid black;
  transition: margin .4s;
  -webkit-transition: margin .4s;
  -moz-transition: margin .4s;
  -o-transition: margin .4s;
  z-index: 1;
  padding: 65px 0px 30px 10px;
  overflow: hidden;
  display: flex;
  margin-left: 0px;
  flex-direction: column;
  align-items: center;
}

.notes-menu-scrollbar {
  width: 100%;
  margin-left: -30px;
}

#notes-filter {
  background: transparent;
  border-color: black;
}

#notes-filter::placeholder {
  color: black;
}

#notes-menu-create {
  margin: 20px 0;
  font-size: 18px;
}

#notes-menu-create:hover {
  color: #199EFF;
}

#notes-menu-sort {
 font-size: 18px;
}

.notes-menu-link {
  width: 100%;
  padding-left: 20px;
  margin: 5px 0;
  font-size: 18px;
  transition: font-size .4;
  -webkit-transition: font-size .4;
  -moz-transition: font-size .4;
  -o-transition: font-size .4;
  transition: all .2s;
}

.notes-menu-link.active,
.notes-menu-link:hover {
  border-left: 10px solid black;
  font-size: 22px;
  font-weight: bold;
}

#notes-menu-spinner {
  height: 100%;
  display: flex;
  align-items: center;
}

#main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 75px 20px;
  transition: margin .4s;
  -webkit-transition: margin .4s;
  -moz-transition: margin .4s;
  -o-transition: margin .4s;
  z-index: 0;
  position:relative;
}

@media screen and (max-width: 768px) {
  #main-content {
    margin-left: 0px !important;
  }
}

.notes-title {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  max-width: 700px;
  width: 100%;
  font-size: 56px;
}

#spinner-container {
  width: 100%;
  max-width: 700px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#note-dates {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #aaa;
}

@media screen and (max-width: 768px) {
  #title {
    font-size: 34px;
  }
}

@media screen and (max-width: 768px) {
  #note-dates {
    font-size: 14px;
  }
}